.Message {
  font-size: 18px;
  width: fit-content;
  text-align: center;
  padding: 2px;
}

.Message {
  animation: pulse 0.8s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(43, 130, 243, 0.904);
    border-radius: 5px;
  }
  70% {
    box-shadow: 0 0 0 8px rgba(62, 25, 228, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}
